extends layout

block content
  .container
    h1 Lista de Comércio de Animais
    a.btn.btn-primary(href="/comercio_animais/add") Adicionar Novo Comércio de Animais
    table
      thead
        tr
          th Data
          th Tipo
          th Sexo
          th Vendedor
          th Comprador
          th Quantidade
          th Valor
          th Valor Total
          th Peso (@)
          th Idade
          th.text-center Ações
      tbody
        each comercioAnimal in comercioAnimais
          tr
            td= new Date(comercioAnimal.get('data')).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' })
            td= comercioAnimal.get('tipo')
            td= comercioAnimal.get('sexo')
            td= comercioAnimal.get('vendedorNome')
            td= comercioAnimal.get('compradorNome')
            td= comercioAnimal.get('quantidade')
            td= comercioAnimal.get('valor').toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
            td.text-center= (comercioAnimal.get('quantidade') && comercioAnimal.get('valor')) ? (comercioAnimal.get('quantidade') * comercioAnimal.get('valor')).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : 'N/A'
            td= comercioAnimal.get('peso')
            td= comercioAnimal.get('idade')
            td.text-center
              form(action=`/comercio_animais/${comercioAnimal.id}/edit` method="GET" style="display:inline; margin-right: 5px;")
                button.btn.btn-warning(type="submit") Editar
              form(action=`/comercio_animais/${comercioAnimal.id}/delete` method="POST" style="display:inline;")
                button.btn.btn-danger(type="submit") Excluir
    a.btn.btn-secondary(href="/") Voltar
