extends ../layout

block content
  .container.mt-5
    h1.text-center Editar Despesa
    .form-container
      form(action=`/despesas/${despesa.id}/edit` method="POST")
        input(type="hidden" name="ano" value=(typeof anoSelecionado !== 'undefined' ? anoSelecionado : ''))
        input(type="hidden" name="page" value=(typeof page !== 'undefined' ? page : ''))
        .form-group
          label.form-label(for="data") Data
          input#data.form-control.mb-2(type="date" name="data" value=despesa.get('data').toISOString().split('T')[0] required)
        .form-group
          label.form-label(for="descricao") Descrição
          input#descricao.form-control.mb-2(type="text" name="descricao" value=despesa.get('descricao') required)
        .form-group
          label.form-label(for="quantidade") Quantidade
          input#quantidade.form-control.mb-2(type="number" name="quantidade" value=despesa.get('quantidade') required)
        .form-group
          label.form-label(for="vl_unitario") Valor Unitário (R$)
          input#vl_unitario.form-control.mb-2(type="number" step="0.01" name="vl_unitario" value=despesa.get('vl_unitario') required)
        .form-group
          label.form-label(for="categoria") Categoria
          select#categoria.form-select.mb-2(name="categoriaId" required)
            each categoria in categorias
              option(value=categoria.id selected=despesa.get('categoria') && despesa.get('categoria').id === categoria.id)= categoria.get('descricao')
        .form-group.mt-3
          button.btn.btn-secondary(type="button" onclick=`window.location.href='/despesas?ano=${typeof anoSelecionado !== 'undefined' ? anoSelecionado : ''}&page=${typeof page !== 'undefined' ? page : ''}'` style="display:inline; margin-right: 5px;") Voltar
          button.btn.btn-primary(type="submit") Salvar
