extends ../layout

block content
  .container.mt-5
    h1 Lista de negócios realizados
    form#anoForm(method="GET" action="/comercio_animais")
      .form-group
        label(for="ano") Filtrar por Ano
        select#ano.form-control(name="ano" onchange="document.getElementById('anoForm').submit()")          
          option(value="0") Todos os anos
          each ano in anos
            option(value=ano selected=(ano.toString() === anoSelecionado)) #{ano}
    table.table.table-striped.table-hover
      thead
        tr
          th Data
          th Tipo
          th Sexo
          th Vendedor
          th Comprador
          th Quantidade
          th Valor Unitário
          th Valor Total
          th Peso (@)
          th Idade
          th.text-center Ações
      tbody
        each comercioAnimal in comercioAnimais
          tr
            td= new Date(comercioAnimal.get('data')).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: 'numeric' })
            td= comercioAnimal.get('tipo')
            td= comercioAnimal.get('sexo')
            td.text-center= comercioAnimal.get('vendedorNome')
            td.text-center= comercioAnimal.get('compradorNome')
            td.text-center= comercioAnimal.get('quantidade')
            td= comercioAnimal.get('valor').toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
            td.text-center= (comercioAnimal.get('quantidade') && comercioAnimal.get('valor')) ? (comercioAnimal.get('quantidade') * comercioAnimal.get('valor')).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) : 'N/A'
            td= comercioAnimal.get('peso')
            td= comercioAnimal.get('idade')
            td.text-center
              a.badge.bg-warning.text-dark(href=`/comercio_animais/${comercioAnimal.id}/edit`, style="margin-right: 5px; cursor:pointer;")
                i.bi.bi-pencil
              form(action=`/comercio_animais/${comercioAnimal.id}/delete` method="POST" style="display:inline;")
                button.badge.bg-danger(type="submit", style="border:none; cursor:pointer;")
                  i.bi.bi-trash
        tr
          td(colspan="6")
          td.text-right.text-bold Total
          td.text-center= comercioAnimais.reduce((sum, comercioAnimal) => sum + ((comercioAnimal.get('quantidade') && comercioAnimal.get('valor')) ? comercioAnimal.get('quantidade') * comercioAnimal.get('valor') : 0), 0).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
    a.btn.btn-secondary(href="/") Voltar
    a.btn.btn-primary(href="/comercio_animais/add") Adicionar
